@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --cyber-black: #000000;
  --cyber-gray: #121212;
  --electric-blue: #2563eb;
  --neon-cyan: #06b6d4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cyber-black: var(--cyber-black);
  --color-cyber-gray: var(--cyber-gray);
  --color-electric-blue: var(--electric-blue);
  --color-neon-cyan: var(--neon-cyan);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}